---
---

@import url(syntax.css);

$size-threshold: 800px;

$main-font-color: rgba(18,18,18,.87);
$code-background: #f5f5f5;
$border-light: #d5d5d5;

pre {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: $code-background;
  font-weight: normal;
  font-size: 1.6rem;
  padding: 1.5rem;
  overflow: auto;
}

html {
  // 1rem == 10px
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
}

body {
  font-size: 1.8rem;
  color: $main-font-color;
  background-color: #fdfdfd;
}

blockquote {
  display: block;
  border-width: 0.2rem 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5rem 0 0.5rem;
  margin: 1.5rem 0;
  position: relative;
  text-align: center;
  font-style: italic;
  
  &:before {
    content: '\201C'; 
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fdfdfd;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    font: 5em/1em 'PT Sans', sans-serif;
    color: #666;
    text-align: center;
  }
  
  &:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: #666;
  }
}

header {
  background-color: #101010;
  
  .header-content {
    margin: 0 auto;
    padding: 1.2rem 0;
    border-bottom:0.133rem solid #333;
    font-weight: bold;
    
    width: 100%;
    max-width: 1000px;

    a:hover {
      text-decoration: none;
    }
    
    .logo {
      display: block;
      text-transform: uppercase;
      padding-left: 1.2rem;
      
      .logo-text {
        color: #ffffff;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        padding-left: 1rem;
      }
      
      .face {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        vertical-align: middle;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        display: inline-block;
      }
    }
  }
}

nav {
  @media (max-width: $size-threshold) {
    width: 100%;
    
    .nav-title {
      display: none;
    }
    
    ul {
      text-align: center;
      overflow: hidden;

      li {
        display: inline-block;
        padding: 0 1rem;
      }
    }
  }

  @media (min-width: $size-threshold) {
    width: 25%;
    float: left;
    display: block;

    a {
      display: block;
      margin: 0.5rem 0;
    }
  }

  .email-li::before {
    font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f0e0";
    margin-right: 1rem;
  }
  
  .twitter-li::before {
    font-family: "Font Awesome 5 Brands"; content: "\f099";
    margin-right: 1rem;
  }
  
  .linkedin-li::before {
    font-family: "Font Awesome 5 Brands"; font-weight: 900; content: "\f08c";
    margin-right: 1rem;
  }

  ul li {
    list-style: none;
  }
}

.wrap {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.content {
  @media (min-width: $size-threshold) {
    width: 70%;
    float: right;  
  }
}

footer ul {
    list-style: none;
    font-weight: lighter;
}
footer ul li {
    display: inline;
    margin-right: 2rem;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
  font-family: "Lato","Ubuntu",sans-serif;
  font-weight: lighter;
  line-height: 1.3;
  color: #333;
  text-align: center;
}

footer {
  color: #aaaaaa;
  border-top: 1px solid $border-light;
  margin-top: 2rem;
  width: 90%;
  font-size: .8em;
  //float: left;
  text-align: center;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.centered {
  text-align: center;
	font-size: 2em;
}

.emailquote {
	margin-left: 2rem;
	font-family: monospace;
	font-style: italic;
	padding-left: 1rem;
	line-height: 1.8rem;
	border-left: 0.5rem solid #666;
}

.post {
  margin-bottom: 5rem;
}

.post-image {
  // Fix for narrow mobile screens
  width: 100%;
}

.email-signup {
  text-align: center;

  h3 {
    font-weight: lighter;
  }
  p {
    font-weight: 50 !important;
  }
}

.profile-pic {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: auto;
  display: block;
}

.footnotes {
	font-size: small;
}

.post-list h1 {
  margin-bottom: 0;
}

code.highlighter-rouge {
  color: #d01040;
  background-color: #e5e5e5;
}

// ------------- Books
.book-list {
  margin-top: 2rem;

  .book-item {
    padding: 4rem 0 2rem 0;
    border-top: 1px solid $border-light;
    overflow: auto;
    
    a {
      text-decoration: none;
    }

    .book-header {
      overflow: auto;

      .book-cover {
        height: auto;
        width: 20rem;
        margin-right: 1rem;
      }
      
      .book-title {
        font-size: 2rem;
        font-weight: bold;
      }
      
      .book-author {
        font-size: 1.5rem;
      }
    }
    
    .book-buy {
      text-align: center;
    }

    .book-header {
      display: inline;
      
      img {
        height: 20rem;
        float: left;
      }
    }
  }
}

// ------------- Post-list
.post-list {
  margin-top: 2rem;

  :hover {
    background-color: #f4f4f4;
  }

  a {
    text-decoration: none;
    color: $main-font-color;
  }

  .post-item {
    padding: 4rem 0 2rem 0;
    border-top: 1px solid $border-light;
    overflow: auto;


    .post-header {
      overflow: auto;

      .post-cover {
        height: auto;
        width: 20rem;
        margin-right: 1rem;
      }

      .post-title {
        font-size: 2rem;
        font-weight: bold;
      }

      .post-author {
        font-size: 1.5rem;
      }
    }

    .post-description {
        font-size: 1.6rem;
    }

    .post-buy {
      text-align: center;
    }

    .post-header {
      display: inline;

      img {
        height: 20rem;
        float: left;
      }
    }
  }
}